@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
            <h3>Using Component</h3>
            @await Component.InvokeAsync("TaskComponents",new { showpendingtask=true,showcompleteTask=true})
    </div>
    <div class="row">
      
            <h3>Using Component Tag Helper</h3>

            <vc:task-components showcomplete-task="true" showpendingtask="true"></vc:task-components>
    </div>
  
</div>